:root{
  --grey: #F5F0EC;
  --green: #1B5B31;
  --black: #111;
  --white: #fff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;  
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {  
  font-family: 'Inter', 'Montserrat', sans-serif;
  max-width: 1440px;
  font-size: 16px;
  line-height: 34px; 
  border: 2px solid orange;
  margin: 0 auto;
}

header {
  border: 2px solid green;
  height: auto;  
}

nav {
  width: 1262px;
  height: 72px;
  border: 2px solid red;
  margin: 0 auto;
}

.background-color-section {
  background-color: #DCC1AB;
  height: 1824px;
}

#hero {
  display: flex;
  width: 1440px;
  height: 737px;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 752px;
  background-color: #DCC1AB;
  border: 2px solid goldenrod;
}

.hero-cta__wrapper {  
  width: 599px;
  height: 448px;  
  
  border: 2px solid brown;
}

.hero-cta__wrapper-text__container {
  display: flex;
  flex-direction: column;
  height: 326px;
  
}
.hero-cta__wrapper-text__headline{
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  height: 100%;
  width: 100%;
  border: 2px solid blueviolet;
}

.hero-cta__wrapper-text {
  display: block;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  border: 2px solid green
}

.hero-slider {
  width: 688px;
  height: 737px;
  border: 2px solid burlywood;
}

.hero-cta__wrapper-buttons {
  display: flex;
  align-items: flex-start;
  gap: 36px; 
  border: 2px solid yellow;
  margin-top: 72px;  
}

.hero-cta-button-first {
  border-radius: 200px;
  background-color: var(--green);
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px; 
  color: var(--grey, #F5F0EC);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;  
}

.hero-cta-button-second {  
  background-color: transparent;
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px; 
  border-color: var(--green); 
  border-radius: 200px;
  color: var(--green, #1B5B31);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero-cta-buttons-icon {
  margin-left: 8px;
}

#ofert {
  display: flex;
  height: 939px;
  border: 3px solid rgb(11, 0, 128);
  
}

.ofert-wrapper {  
  border: 1px solid green;
  width: 100%;
  background-color: #F5F0EC;
}

.ofert-container__text {
  width: 1040px;
  height: 193px;
  border: 2px solid orange;
  margin: 120px auto 96px auto;
 
}

.ofert-container__title {
  font-size: 12px;
  letter-spacing: -1%;
  color: var(--green);
}

.ofert-container__text-wrapper {
  width: 709px;
}

.ofert-container__text-headline {
  font-size: 48px;
  line-height: 55.2px;
  width: 709px;
}

.ofert-container__text-description {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px; 
}

.card-wrapper {
  display: flex;
  padding: 0 88px;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
  background: var(--grey);
  border: 2px solid rebeccapurple;
}

.ofert-container-card {
  display: flex;
  width: 378px;
  height: 370px;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 28px;
  background: var(--white);
}

.ofert-card {
  display: flex;
  width: 298px;
  height: 370px;  
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  border: 2px solid red;
 
}

.ofert-card-icon img {
  width: 44px;
}

.ofert-card-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.4px; 
  color: var(--black); 
}

.ofert-card-descritpion{
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px; 
  color: var(--black); 
}

.ofert-card-button span{
  padding-bottom: 4px;
  height: 24px;
}

.ofert-card-button button {
  display: flex;  
  color: var(--green);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: transparent;
  border: none;  
  border-bottom: 1px solid #1B5B31;
}

.ofert-more-button {
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px; 
  border-radius: 200px; 
  color: var(--black); 
  font-size: 16px;
  background-color: transparent;  
  border: 1px solid var(--black);
  margin: 8.5px auto 0 auto;
}

#realizations {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 478px;
  width: 100%; 
}

.realizations-constainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: var(--grey); 
  width: 1040px;
  height: 358px; 
  
}

.realizations-headline {
  font-size: 40px;
  line-height: 120%;
}

.realizations-cta {
  display: block;
  width: 100%;
}

.realizations-headline-text {
  width: 200px;
  margin-left: 64px;
  color: var(--grey); 
}

.realizations-headline-text span {
  letter-spacing: -1%;
  line-height: 100%;
  font-size: 16px;
  
}

.realizations-headline-text :first-child {
  display: block;
}

.realizations-button {
  background-color: var(--grey); 
  text-align: center;
  padding: 10px 24px 12px 24px;
  border-radius: 200px;
  font-size: 16px;
  line-height: 36px; 
  color: var(--green);
  margin-top: 24px;
}

footer {
  font-family: Inter; 
  height: 499px;
  width: 100%;
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.footer-container {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  width: 1040px;
  min-height: 339px;
  gap: 120px;
  border: 1px solid grey;
}

.footer-text {
  height: 195px;
  width: 100%;
  border: 1px solid red;
}

.footer-cta {
  height: 112px; 
  border: 1px solid green;
}

.footer-cta-container {
  display: flex;
  border: 1px solid violet;
  height: 50%;
}

.footer-cta-brand {  
  display: flex;
  align-items: center;
  width: 30%;
}

.footer-cta-button {
  display: flex;
  justify-content: right; 
  align-items: center;
  width: 70%;
  gap: 24px;
  border: 2px solid khaki;
}

.footer-cta-button p {
  display: flex;
  justify-content: right; 
  align-items: center;  
  height: 50px;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 2px solid red;
  letter-spacing: -0.16px;
}

.footer-cta-button button {
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid #1B5B31;
  background: var(--green, #1B5B31);
  color: #F5F0EC;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-line {
  border-bottom: 1px solid orange;
  height:1px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-content:flex-end;
  gap:62px;
}

.footer-social-wrapper {  
  display: flex;
  width: 100%;
  
}

.footer-social-item, .footer-social-contact {
  display: flex;
  gap:42px;
  width: 50%;   
  height: 21px; 
  border: 1px solid blue;
  margin: 0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

.footer-social-item p, .footer-social-contact p {
  width: auto; 
  height: 21px;  
  margin: 0;
}

.footer-social-contact p {
 border: 1px solid green;
}

.footer-social-contact {
  display: flex;
  justify-content: flex-end; 
  width:50%;
  border: 1px solid green;
  text-align: right;
}

.footer-copyright {
  display: flex;
  width: 1040px;
  height: 24px;
  border: 1px solid grey;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}

.footer-copyright :first-child {
  width:50%;
}

.footer-copyright-images{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:50%;
  text-align: right; 
  border: 2px solid red;   
}
.footer-copyright-brand {

  display: inline;
  height: 23px;
  width:113px!important;
  border: 2px solid red;  
}


.italic-font-style {
  font-style: italic;
}

.letter-spacing-3 {
  letter-spacing: -3%;
}


.letter-spacing-2 {
  letter-spacing: -2px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.icon-vector {
  width: 16px;
  margin-left: 10px;
}