:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  --grey: #F5F0EC;
  --green: #1B5B31;
  --black: #111;
  --white: #fff;
  --beige: #DCC1AB;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;  
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {  
  font-family: 'Inter', 'Montserrat', sans-serif;
  max-width: 1440px;
  font-size: 16px;
  line-height: 34px; 
  border: 4px solid orange;
  margin: 0 auto;
}

header {
  border: 2px solid green;
  height: auto;  
}

nav {
  max-width: 1262px;
  height: 72px;
  height: auto;
  border: 2px solid red;
  margin: 0 auto;
}

.nav-link {
  color: var(--black, #111);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  margin-right: 48px;
}

.dropdown-toggle::after{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"/></svg>');
  border: none;
  width: 10px;
  height: auto;
  margin-left: 0.4rem;
  vertical-align: middle;
}

.dropdown-menu-search {
  right: 0;
  top: 60px;
}

.form-button {
  display: flex;  
  color: var(--grey);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;  
  border: none;  
  border-radius: 200px;
  background-color: var(--green); 
  padding: 7px 21px 9px 21px;
}


#hero {
  display: flex;
  width: 1440px;
  height: 737px;
}


.carousel-item {
 position: relative;
}


.carousel-wrapper {
  display: flex;
  flex-direction: row;
}

.carousel-menu {
  background-color: var(--grey);
  position: absolute;
  height: 96px;
  width: 192px;
  bottom: 0;
  right:0;
}

.menu-arrow-left {
  padding-left: 85px;
}

.menu-arrow-right {
  padding-right: 79px;
}

.hero-slider {
  width: 688px;
  height: 737px; 
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 752px;
  background-color: #DCC1AB;
  border: 2px solid red;
}

.hero-cta-wrapper {  
  width: 599px;
  height: 448px;  
  border: 2px solid brown;
}

.hero-cta-wrapper-text-container {
  display: flex;
  flex-direction: column;
  height: 326px;
  width: 599px;  
}

.hero-cta-wrapper-text-headline{
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  padding: 0;
  margin: 0;
  border: 2px solid blueviolet;
}

.hero-cta-wrapper-text {
  display: inline;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 489.01px; 
  margin-top: 44px;
}

.hero-slider {
  width: 688px;
  height: 737px;
  border: 2px solid burlywood;
}

.hero-cta-wrapper-buttons {
  display: flex;
  gap:36px;
  margin-top: 72px;
  align-items: flex-start; 
  border: 2px solid yellow;   
}

.hero-cta-button-first {
  border-radius: 200px;
  background-color: var(--green);
  display: flex;
  height: 50px;
  padding: 10px 24px 12px 24px;
  align-items: center;
  gap: 10px; 
  border: 1px solid var(--green);
  color: var(--grey, #F5F0EC);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;  
}

.hero-cta-button-second {  
  background-color: transparent;
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px; 
  height: 50px;
  border-color: var(--green); 
  border-radius: 200px;
  color: var(--green, #1B5B31);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero-cta-buttons-icon {
  margin-left: 8px;
}

#ofert {
  display: flex;
  min-height: 939px;
  max-width: 1440px;
  width: 100%;
  height: auto;
  border: 3px solid rgb(11, 0, 128);
  position: relative; 
}

.show {
z-index: 99999;
}

.hide {
  z-index: 0;  
}

.ofert-wrapper {  
  border: 1px solid green;
  width: 100%;
  background-color: #F5F0EC;
}

.ofert-container-text {
  max-width: 1040px; 
  width: 100%; 
  min-height: 193px;
  height: auto;
  border: 2px solid orange;
  margin: 120px auto 96px auto;
 
}

.ofert-container-title {
  font-size: 12px;
  letter-spacing: -1%;
  color: var(--green);
}

.ofert-container-text-wrapper {
  max-width: 709px;
  width: 100%;
  }

.ofert-container-text-headline {
  font-size: 48px;
  line-height: 55.2px;
  max-width: 709px;
}

.ofert-container-text-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px; 
}

.card-wrapper,.card-header-wrapper {
  display: flex;
  padding: 0 88px;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 64px;
  align-self: stretch;
  background: var(--grey);  
}


.ofert-container-card {
  display: flex;
  width: 378px;
  height: 370px;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 28px;
  background: var(--white);
  transition: .2s;
  cursor: pointer;
}

.ofert-container-card:hover {
  box-shadow: 0 10px 20px -18px #202020;
}

.ofert-card {
  display: flex;
  width: 298px;
  height: 370px;  
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ofert-card-icon img {
  width: 44px;
}

.ofert-card-title {
  font-size: 28px;  
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.4px; 
  color: var(--black); 
}

.ofert-card-descritpion{
  font-family: Inter;
  font-size: 14px;  
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px; 
  color: var(--black); 
}

.ofert-card-button span{
  padding-bottom: 4px;
  height: 24px;
}

.ofert-card-button button {
  display: flex;  
  color: var(--green);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background-color: transparent;
  border: none;  
  border-bottom: 1px solid #1B5B31;
}

#gallery {   
  max-width: 1440px;  
  border: 4px solid greenyellow;
  overflow: hidden;
  position: relative;
  z-index: 0; 
}

.gallery {
  height: 1600px; 
  transition: ease-in-out 1s;  
}

.show-gallery  {
  height: 2300px;
}


.gallery-header-wrapper {
  display: flex;
  max-width: 1440px;
  padding: 120px 0 192px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: 89px;  
  background: var(--beige); 
  border: 2px solid red;
  }


.gallery-header-wrapper span {
  color: var(--green);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}

.gallery-header-wrapper p {
  display: block;
  color: var(--black);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px; 

}

.gallery-header-wrapper p span {
  color: var(--black, #111);
  font-family: Inter;
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 115%;
}

.gallery-wrapper {   
  max-width: 1440px;  
  width: 100%; 
  min-height: 1660px;
  height: 2300px; 
  margin: 0 auto 0 auto; 
  border:2px solid gold;   
  background: var(--beige);
  cursor: pointer; 
  
}

.gallery-wrapper-show {
  z-index: 0; 
  
}

.gallery-wrapper-hide {
  z-index: -1; 
 
}

.item { 
  margin: 0 auto;
  transition: .2s; 
}

.item:hover { 
  box-shadow: 10px 10px 20px -18px #202020;
}

.popup-image {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.9);
  z-index: 999999;
  display: none;
  
}

.popup-image span {
  position: absolute;
  top:40px;
  right: 40px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  }

.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  }


.background-gallery {
  display: block;
  left: 0px; 
  top: 0px;   
  max-width: 1440px;
  width: 100vw;   
  height: 2300px; 
  position: relative;  
  object-fit: cover;
}


.shadow-gallery-show {
  background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
}

.shadow-gallery-hide {
  background: none
}

.ofert-wrapper-button {
  max-width: 1440px;
  height:76px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;  
  position: absolute;
  z-index: 9999;
  left: 0px; 
  bottom: 0px; 
  margin-bottom: 44px;
  border: 3ps solid pink;
}

.ofert-more-button-down {
  margin: 0 auto 45.5px auto;
  padding: 12px 22px 14px 22px;
  gap: 8px; 
  border-radius: 200px; 
  color: var(--black); 
  text-align: center;
  font-size: 16px;
  background-color: transparent;  
  border: 1px solid var(--black);  
}

.Icondropup {
  transform: rotate(180deg);
  margin-bottom: 5px;
  margin-left: 5px;
}

.ofert-more-button-up {
  display: block;
  margin: 0 auto 45.5px auto;
  padding: 12px 22px 14px 22px;
  gap: 8px; 
  border-radius: 200px; 
  color: var(--black); 
  text-align: center;
  font-size: 16px;
  background-color: var(--grey); 

  border: none;  
}

.displayBlockButton {
  display: flex;
}

.displayNoneButton {
  display: none;
}

#about {
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 720px;
  align-items: center;
  gap: 64px;
  background: var(--green, #1B5B31);
}

.about-image {
  width: 688px;
  height: 100%;
  border: 1px solid grey;
}

.about-description {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.about-content {
  border: 1px solid red;
  height: 450px;
  width: 500px;
  padding-left:96px;
}

.about-content span {
  color: var(--grey, #F5F0EC);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;  
}

.about-title {
  color: var(--grey, #F5F0EC);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  padding: 0;
  margin: 16px 0 0 0;
  
}

.about-subtitle {
  color: var(--grey, #F5F0EC);
  font-family: Inter;
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 115%;
  margin: 0;
}

.about-text {
  margin-top:40px;
  margin-bottom: 72px;
  color: var(--grey, #F5F0EC);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  letter-spacing: -0.16px;
}

.about-button {
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--grey, #F5F0EC);
}

.icon-right {
  height: 16px;
}

#realizations {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 478px;
  width: 100%; 
}

.realizations-constainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: var(--grey); 
  max-width: 1040px;
  width: 100%;
  height: 358px;   
}

.realizations-headline {
  font-size: 40px;
  line-height: 120%;
}

.realizations-cta {
  display: block;
  width: 100%;
}

.realizations-headline-text {
  width: 200px;
  margin-left: 64px;
  color: var(--grey); 
}

.realizations-headline-text span {
  letter-spacing: -1%;
  line-height: 100%;
  font-size: 16px;  
}

.realizations-headline-text :first-child {
  display: block;
}

.realizations-button {
  background-color: var(--grey); 
  text-align: center;
  display: flex;
  padding: 10px 24px 12px 24px;
  align-items: center;
  gap: 10px; 
  border-radius: 200px;
  font-size: 16px;
  line-height: 36px; 
  color: var(--green);
  margin-top: 24px;
  border: none;
}

footer {
  font-family: Inter;
  min-height: 499px;
  width: 100%;
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.footer-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  max-width: 1040px; 
  width: 100%;
  min-height: 339px;
  gap: 120px;
  border: 1px solid grey;
}

.footer-text {
  height: 195px;
  width: 100%;
  border: 1px solid red;
}

.footer-cta {
  height: 112px; 
  border: 1px solid green;
}

.footer-cta-container {
  display: flex;
  border: 1px solid violet;
  height: 50%;
}

.footer-cta-brand {  
  display: flex;
  align-items: center;
  width: 30%;
}

.footer-cta-button {
  display: flex;
  justify-content: right; 
  align-items: center;
  width: 70%;
  gap: 24px;
  border: 2px solid khaki;
}

.footer-cta-button p {
  display: flex;
  justify-content: right; 
  align-items: center;  
  height: 50px;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 2px solid red;
  letter-spacing: -0.16px;
}

.footer-cta-button button {
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid #1B5B31;
  background: var(--green, #1B5B31);
  color: #F5F0EC;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-line {
  border-bottom: 1px solid orange;
  height:1px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-content:flex-end;
  gap:62px;
}

.footer-social-wrapper {  
  display: flex;
  width: 100%;
  
}

.footer-social-item, 
.footer-social-contact {
  display: flex;
  gap:42px;
  width: 50%;   
  height: 21px; 
  border: 1px solid blue;
  margin: 0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

.footer-social-item p, 
.footer-social-contact p {
  width: auto; 
  height: 21px;  
  margin: 0;
}

.footer-social-contact p {
 border: 1px solid green;
}

.footer-social-contact {
  display: flex;
  justify-content: flex-end; 
  width:50%;
  border: 1px solid green;
  text-align: right;
}

.footer-copyright {
  display: flex;
  max-width: 1040px;
  height: 24px;
  border: 1px solid grey;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}

.footer-copyright :first-child {
  width:50%;
}

.footer-copyright-images{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:50%;
  text-align: right; 
  border: 2px solid red;   
}
.footer-copyright-brand {
  display: inline;
  height: 23px;
  width: 113px!important;
  border: 2px solid red;  
}


.italic-font-style {
  font-style: italic;
}

.letter-spacing-3 {
  letter-spacing: -3%;
}


.letter-spacing-2 {
  letter-spacing: -2px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.icon-vector {
  width: 16px;
  margin-left: 10px;
}
@media (max-width: 480px) {
.ofert-container-text-headline,
.hero-cta-wrapper-text-headline,
.ofert-card-descritpion {
  max-width: 100%;
  word-wrap: break-word;
}

}
@media (max-width: 768px) {
  .popup-image img {
    width: 95%;
  }

  
  .card-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 50px 10px 70px 10px;
    margin:0 10px;
  }
  .card-header-wrapper {
    padding: 0 10px 20px 10px;
  }
  .ofert-container-card {
    
    height: 370px;
    margin: 0 10px;  
    
  }
 
  .ofert-container-text {
    margin: 70px auto 10px auto;
    text-align: left;    
  }


  #realizations, 
  .realizations-constainer, 
  .hero-cta {
    flex-direction: column;
  }
  
  .realizations-cta  {
    text-align: center;
  }


  .carousel-wrapper  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: 100%;
  }

 
  .footer-cta {
    flex-direction: column;
  }

.ofert-container-card, 
.ofert-card-descritpion,
.ofert-card-button {
  width: 95%;  
  border: 2px solid red;  
}


.ofert-card-descritpion {
  width: 75vw;
}
.ofert-container-text-headline {
  width: 80%;
}

  .gallery-header-wrapper,   
  .realizations-constainer {  
    padding: 70px 10px 70px 10px;
    height: auto;
    width: 100%;    
  }

  
  .gallery-header-wrapper p, 
  .gallery-header-wrapper p span,
  .realizations-headline {
    text-align: center;
    padding-bottom: 50px;    
  }

  .gallery-header-wrapper {
    padding: 70px 0 0 0;
  }
  .realizations-headline-text  {
    margin: 0;
    padding: 0;
    width: 100%;  
    text-align: center;
    border: 1px solid red;
  }
 
  .realizations-headline-text button {
    margin: 50px auto 0 auto;
  }
 footer, 
 .footer-container {
  min-height: auto;
 }
  .footer-copyright,
  .footer-copyright div,
  .footer-copyright div div {
    flex-direction: column;
    width: 100%;
    height: auto;
    
    justify-content: center;
  }
.footer-copyright-text {
  display: inline;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(255, 0, 115);
}
  .footer-social-item, 
.footer-social-contact,
.footer-cta-container {
  flex-direction: column;
  height: auto;

}
.footer-cta-brand {
  width: 100%;
  border: 2px solid orange;
  margin: 20px auto;
  height: auto;
}

.footer-social-item, 
.footer-social-contact {
  gap:5px;

}
.footer-copyright-images {
  display: inline
}
.footer-social {
  height: auto;
}
.footer-cta-button,
.footer-copyright div:first-child {
  width: 100%;
}

.footer-copyright div:first-child {
  padding: 3px 0;
}

.footer-cta-button button {
  padding: 6px 18px 6px 18px;

}
}

@media (max-width: 1024px) {
  #hero, .hero-cta-wrapper {
    padding: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .hero-cta-wrapper {
    padding: 80px 0;
  }
  .carousel, #hero {
  height: auto;
  width: 100%;
}
.hero-cta-wrapper-text-container, .hero-cta {
  width: 100vw;
  height: auto;  
}
.hero-cta-wrapper-text-headline {
  padding: 0 10px 0 0;
  width: 100vw;
}
.hero-cta-wrapper-text {
  padding-top: 20px;
}
.hero-cta-button-first {
  margin-bottom: -20px;
}

.hero-cta-button-first, 
.hero-cta-button-second{
  width: 300px;
  justify-content: center;
  align-items: center;
}
  .hero-slider,
  .carousel-menu,
  .hero-slider img,
  form {
    display: none;
  }

  .hero-cta-wrapper-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0 0 0;
  }

  .hero-cta-wrapper-text {
    width: 100%;
    padding-right: 10px;
  }

  .about-button {
    margin: 0 auto  
 }
 #about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: 100%;
  }
  .about-image, .about-image img {
    width: 100%;
  }
  .about-content {
    padding: 0 10px 70px 10px;
  }

  .about-image, 
  .about-description {
    width: 100%;
    height: auto;
  }

  .about-text {
    padding: 20px 0 20px 0;
    width: 100%;
  }

  .about-content, 
  .about-text {  
    padding: 70px 10px 70px 10px;
    height: auto;
    width: 100%;    
  }

}
@media (max-width: 1399px) {
  .card-wrapper,.card-header-wrapper {
    flex-wrap: wrap;
    padding: 70px;
  } 
}

@media (min-width: 1400px) {
  .card-wrapper,.card-header-wrapper {
    flex-wrap: nowrap;} 
}